@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}

.banner {
    width: 100%;
}

.name-and-logo {
    position: absolute;
    background: black;
    color: #ff7f2a;
    font-size: 4.8vw;
    right: 0;
    top: 0;
    text-align: right;
    padding: 4vw 4vw 5vw 7vw;
    z-index: -1;
}

.name-and-logo > img {
    width: 20vw;
    margin: 3vw;
    z-index: 1;
}

nav {
    position: absolute;
    left: 0.4em;
    top: 0.4em;
}

nav button {
    background: black;
    border: black solid 0.2em;
    border-radius: 0.2em;
    color: #ff7f2a;
    font-size: 1.5em;
}

nav ol {
    visibility: hidden;
    display: block;
    padding: 0.2em 0.2em 0 0;
    margin: 0;
}

nav button:hover {
    background: darkgray;
    border-color: darkgray;
    color: white;
}

nav button:hover + ol {
    visibility: visible;
}

nav button:hover + ol li {
    animation-duration: 0.5s;
    animation-name: swing-out-menu
}

@keyframes swing-out-menu {
    from {
        margin-top: -1.5em;
    }
}

nav ol:hover {
    visibility: visible;
}

nav li {
    margin: 0.2em 0;
    display: block;
    padding: 0.3em;
}

nav a, nav a:visited {
    display: block;
    color: #ff7f2a;
    background: black;
    border: black solid 0.7em;
    border-radius: 0.2em;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

nav a:hover {
    background: darkgray;
    border-color: darkgray;
    color: white;
}

.content {
    padding: 2vw;
}

.content > h1 {
    font-size: min(5vw, 2.5rem);
    font-family: "Fira Sans", sans-serif;
    margin-top: 3rem;
}

.content > h1 > .w-word {
    display: inline;
    color: #ff7f2a;
}

.content > div {
    margin-bottom: 0.7em;
}

@media screen and (min-width: 900px) {
    .content {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

a, a:visited {
    color: darkgray;
}

#cars-description > div {
    float: left;
    width: 40%;
    margin: 0 2%
}

#cars-description > div > img {
    display: block;
    width: 80%;
    margin: 2rem auto;
}

#cars-description > div > div {
    text-align: center;
    margin: 1rem;
}

#cars-description:after {
  clear: both;
  content: "";
  display: table;
}

.car-name {
    font-weight: bold;
}

.cars-map {
    display: block;
    border: none;
    width: 100%;
    height: 400px;
}

li {
    margin-top: 0.5rem;
}

li > div {
    font-weight: bold;
}

img.big {
    display: block;
    width: 100%;
    margin: 0.5em 0;
}

.impressum {
    margin-top: 5em;
    text-align: right;
    bottom: 0;
    right: 0;
}