extends layout

mixin pdf_download(name)
  li
    a(href="documents/" + name + "-EnAT.pdf" download)
      img(src="img/file_pdf.png" alt="PDF ICON" height="25")
      | #{name}

block content

  h1#forms Anmeldeformulare

  div.
    Hier sind alle Formulare die Neumitglieder ausdrucken
    und unterschreiben müssen zusammengetragen.

  ul
    +pdf_download("Beitrittserklärung")
    +pdf_download("Nutzungsordnung")

  h1 Andere Dokumente

  ul
    +pdf_download("Satzung")
    +pdf_download("Gebührenordnung")
