extends layout

mixin pdf_download(name)
  li
    a(href="documents/" + name + "-EnAT.pdf" download)
      img(src="img/file_pdf.png" alt="PDF ICON" height="25")
      | #{name}

block content

  h1#forms Mitglied werden

  div.
    Einfach die folgenden 4 Formulare ausdrucken und unterschrieben an uns
    #[a(href="/contact.html#contact") zurückschicken]. Vielen Dank!

  ul
    +pdf_download("Beitrittserklärung")
    +pdf_download("Nutzungsordnung")
    +pdf_download("SEPA-Formular")
    li Kopie des Führerscheins

  h1 Bonus Sichern

  a(href="https://www.klimabonus.info/chiemgau/klimabonus-erhalten/belohnungsaktionen#c2737")
    img(src="img/foerderung-carsharing-web.jpg" alt="Infografik zur Förderung durch Chiemgauer")

  h1 Andere Dokumente

  ul
    +pdf_download("Satzung")
    +pdf_download("Gebührenordnung")


