extends layout
block content

  h1#forms Anmeldeformulare

  div.
    Hier sind alle Formulare die Neumitglieder ausdrucken
    und unterschreiben müssen zusammengetragen.

  ul
    li
      a(href="documents/Beitrittserklärung-EnAT.pdf" download) Beitrittserklärung
    li
      a(href="documents/Nutzungsordnung-EnAT.pdf" download) Nutzungsordnung

  h1 Andere Dokumente

  ul
    li
      a(href="documents/Satzung-EnAT.pdf" download) Satzung
    li
      a(href="documents/Gebührenordnung-EnAT.pdf" download) Gebührenordnung
