extends layout
block content

  h1#impressum Impressum

  h2 Angaben gemäß § 5 TMG
  div.
    Bad Endorfer AutoTeiler (EnAT) e.V. #[br]
    Traunsteiner Straße 54 #[br]
    83093 Bad Endorf
  div.
    Vorstände: Johann Söldner und Martin Schmölz #[br]
    Firmensitz: Bad Endorf #[br]
    Registergericht: angemeldet #[br]
    Vereinsregister: VR 201616

  h3 Kontakt
  div.
    Telefon: 08053/5308186 #[br]
    E-Mail-Adresse: #[a(href="mailto:info@endorfer-autoteiler.de") info@endorfer-autoteiler.de]

  h3 Redaktionell Verantwortlich
  div.
    Robert Hölzl #[br]
    Bad Endorf #[br]
    #[a(href="mailto:webmaster@endorfer-autoteiler.de") webmaster@endorfer-autoteiler.de]

  h2 Haftungsausschluss

  h3 Haftung für Inhalt Inhalte
  div.
    Der EnAT ist als Inhaltsanbieter nach § 6 Abs. 1 Mediendienste-Staatsvertrag
    für die „eigenen Inhalte“, die er zur Nutzung bereithält, nach den
    allgemeinen Gesetzen verantwortlich.
    Alle Inhalte wurden mit größter Sorgfalt erstellt.
    Trotzdem können Fehler nicht ausgeschlossen werden. Rechtlich verbindlich
    sind ausschließlich die zugrundeliegenden Satzungen, Nutzungsordnungen und Formulare.

  h3 Links
  div.
    Unser Internetauftritt enthält Links zu externen Webseiten.
    Auf die Inhalte dieser Seiten haben wir keinen Einfluss.
    Zum Zeitpunkt der Verlinkung waren keine Rechtsverstöße ersichtlich.
    Wenn festgestellt wird oder hingewiesen wird, dass ein konkretes Angebot,
    zu dem ein Link bereitgestellt wurde, ein Rechtsverstoß vorliegt,
    wird dieses Angebot gelöscht.

  h3 Urheberrecht
  div.
    Die gesamte Webseite unterliegt dem deutschen Urheberrecht.
    Inhalte Dritter werden als solche gekennzeichnet.
    Sollten wir versehentlich das Urheberrecht Dritter verletzen,
    bitten wir um Benachrichtigung.
    Wir werden die betroffenen Inhalte schnellstmöglich überprüfen und
    gegebenenfalls entfernen.