extends layout
block content

  h1#wer #[.w-word Wer] sind wir?

  div.
    Wir sind ein eingetragener Verein mit momentan fast 40 Mitgliedern und
    3 eigenen Autos. Diese Autos teilen wir uns per
    #[a(href="https://carsharing.de/alles-ueber-carsharing/ist-carsharing/ist-carsharing") stationsbasiertem CarSharing].

  div.
    Der Verein wurde 2015 im beschaulichen
    #[a(href="https://www.openstreetmap.org/relation/2186912#map=9/47.8338/12.2226") Bad Endorf]
    gegründet und wächst
    seitdem stetig. Die meisten Mitglieder nutzen unsere Autos als
    Zweit- oder Drittautoersatz. Aufgrund der Bahnanbindung in Bad Endorf
    haben wir aber auch Mitglieder, die dank EnAT zusammen mit Fahrrad
    und Bahn komplett auf ein eigenes Auto verzichten können.

  div.
    Als Verein von Gleichgesinnten freuen wir uns natürlich jederzeit über
    Neumitglieder.
    Insbesondere auch, da jedes weitere Mitglied die Auslastung der Autos
    weiter verbessert und damit die Kosten für den Einzelnen auf Dauer
    potenziell reduziert. Wenn du also Interesse hast würden wir uns sehr
    über eine Mail oder einen Anruf
    (siehe #[a(href="/contact.html#contact") Kontakt]) freuen.


  h1#warum #[.w-word Warum] sollte ich EnAT nutzen?

  div
    p.
      Der Besitz eines eigenen Autos (oder 2 eigener Autos) ist insbesondere
      auf dem Land so selbstverständlich, dass sich kaum jemand über
      Alternativen Gedanken macht. Dabei kann eine Alternative wie
      EnAT je nach Lebenssituation deutliche Vorteile mit sich bringen:
    ul
      li.
        #[div Geld sparen]
        Je nachdem, wie viele Kilometer man pro Jahr mit dem Auto zurücklegt, kann
        CarSharing deutlich günstiger sein als ein eigenes Auto. Der
        Bundesverband CarSharing geht davon aus, dass bei einer Jahreskilometerleistung
        von #[a(href="https://carsharing.de/alles-ueber-carsharing/ist-carsharing/ist-carsharing-richtige-fuer-mich") weniger als 10.000 km]
        CarSharing bereits günstiger ist.
      li.
        #[div Klima schützen]
        In Zeiten des Klimawandels ist es unabdingbar, unseren Ressourcenverbrauch
        zu reduzieren. Da privat genutzte Autos i.d.R. sehr geringe
        Jahreskilometerleistungen haben, ist der Ressourcenaufwand,
        der durch die Produktion entsteht, auf den Kilometer umgerechnet, sehr hoch.
        Da CarSharing die Auslastung der Autos deutlich erhöht, wird der
        (Produktions-)Ressourcenverbrauch pro Kilometer entsprechend reduziert.
      li.
        #[div Alternativen entdecken]
        Die Macht der Gewohnheit hält Autobesitzer oft davon ab, Alternativen
        in Betracht zu ziehen. Obwohl das Fahrrad auf Kurzstrecken ein sehr
        effizientes Fortbewegungsmittel ist, wird es oft nur als Freizeitgerät
        genutzt. Für viele längere Strecken bietet sich auch die Bahn an –
        mit dem großen Vorteil, die Fahrtzeit anderweitig nutzen zu können.
      li.
        #[div Kalkulierbare Kosten]
        Ein Getriebeschaden oder neue Bremsen
        reißen kein Loch mehr in den Geldbeutel. Du weißt bereits vor der
        Fahrt exakt, wieviel das Ganze kosten wird.
      li.
        #[div Weniger Ärger]
        Wenn das eigene Auto einen Schaden hat, muss man es nicht nur zur
        Werkstatt bringen, man muss auch irgendwie zurückkommen, entscheiden,
        ob sich die Reparatur lohnt, sich ggf. um ein Ersatzfahrzeug kümmern,
        und und und... #[br]
        Außerdem will ein Auto ab und zu gewartet werden, braucht pro Jahr zweimal
        einen Reifenwechsel und sollte auch gelegentlich gereinigt werden.
        Das alles fällt mit CarSharing weg, da unsere jeweiligen Autoverantwortlichen
        all diese Aufgaben (ehrenamtlich) erledigen.


  h1#was #[.w-word Welche] Autos kann ich mieten?

  div.
    Wenn unsere Mitglieder für eine Fahrt ein Auto brauchen, haben sie die Wahl
    zwischen einem günstigen Ford Ka, einem geräumigen Citroën Berlingo und einem
    elektrischen Renault Kangoo Z.E. Maxi.
    Desweiteren haben wir noch eine Kooperation
    mit der #[a(href="https://www.carsharing-amerang.de/uns.html") Ameranger Autogemeinschaft (AmAG)]
    über die noch einmal zwei weitere Autos ausgeliehen werden können.
    Die Nutzungskosten pro Fahrt bestimmen sich aus der Summe der Kilometer- und
    der Zeitkosten.

  #cars-description
    div
      img(src="img/ford_ka.jpg" alt="Ford Ka")
      .car-name Ford Ka
      div #[b 4] Sitze
      div #[b 1] Kindersitz (bis&nbsp;12kg)
      div #[b 0,30]&nbsp;EUR/km (bzw. #[b 0,20]&nbsp;EUR/km#[sup *])
      div #[b 1,00]&nbsp;EUR/h (bzw. #[b 0.20]&nbsp;EUR/h#[sup **])

    div
      img(src="img/berlingo.jpg" alt="Citroën Berlingo")
      .car-name Citroën Berlingo
      div #[b 5] Sitze
      div Anhängekupplung
      div #[b 1] Kindersitz (bis&nbsp;12kg)
      div #[b 0,35]&nbsp;EUR/km (bzw. #[b 0,25]&nbsp;EUR/km#[sup *])
      div #[b 1,00]&nbsp;EUR/h (bzw. #[b 0.20]&nbsp;EUR/h#[sup **])

    div
      img(src="img/kangoo.jpg" alt="Renault Kangoo Z.E. Maxi")
      .car-name Renault Kangoo (elektrisch)
      div #[b 5] Sitze
      div #[b 150 - 200]&nbsp;km Reichweite (Aussentemperaturabhängig)
      div #[b 0,40]&nbsp;EUR/km (bzw. #[b 0,30]&nbsp;EUR/km#[sup *])
      div #[b 1,00]&nbsp;EUR/h (bzw. #[b 0.20]&nbsp;EUR/h#[sup **])

  div
    sup.
      * Langstreckentarif. Gilt ab dem 101. Kilometer einer Fahrt
  div
    sup ** Nachttarif. Gilt von 18:00 bis 8:00 Uhr

  div
    iframe.cars-map(allowfullscreen src="https://umap.openstreetmap.fr/de/map/parkplatze-der-enat-autos_851388#15/47.9081/12.3006")

  h1#wie #[.w-word Wie] funktioniert's?

  div
    p.
      Um unsere Autos nutzen zu können, musst du Mitglied in unserem Verein
      sein. Hierbei entstehen folgende Kosten:
    ul
      li Mitgliedsbeitrag: #[b 30 EUR/Jahr]
      li.
        Einmalige Einlage: #[b 600 EUR] #[br] (wird bei Ausscheiden zurückbezahlt;
        siehe #[a(href="/documents/Nutzungsordnung-EnAT.pdf" download) Nutzungsordnung]
        Punkt 3)
      li Einmalige Aufnahmegebühr: #[b 50 EUR]

  div.
    Wenn du als Mitglied ein Auto ausleihen möchtest, reservierst du zuerst per
    PC oder Handy das gewünschte Auto für den gewünschten Zeitraum.
    Das von uns eingesetzte
    #[a(href="https://www.elkato.de/buchung/enat") Buchungssystem]
    bietet ein unkompliziertes Webportal,
    über die das Auto schnell gebucht werden kann. Außerdem zeigt es
    übersichtlich an, wann welches Auto verfügbar ist:
    #[img.big(src="img/buchungssystem.png" alt="Buchungssystem" )]

  div.
    Bevor du die eigentliche Fahrt antritts, holst du dir den Autoschlüssel
    aus dem Tresor, der sich in der Umgebung des jeweiliges Autos befindet.
    Im Auto befindet sich dann ein Fahrtenbuch, in das die Fahrt mit Kilometerstand
    und Zeit eingetragen wird. Wenn das Fahrzeug während der Fahrt betankt
    werden muss, trägst du dies ebenfalls ins Fahrtenbuch ein und legst die Rechnung
    dazu. Der Tankbetrag wird dann bei der nächsten Abrechnung gutgeschrieben.
    Dies gilt nicht für unser elektrisches Auto, da dieses an unserer
    eigenen Wallbox geladen wird.

  div.
    Einmal pro Quartal erhältst du dann eine Abrechnung über alle Fahrten.
    Der entsprechende Betrag, abzüglich deiner Tankrechnungen, wird
    per SEPA-Lastschrift von deinem Konto eingezogen. Dabei werden pro Fahrt
    die Kosten für die gefahrenen Kilometer (siehe
    #[a(href="#cars-description") Kilometertarif]) sowie die Kosten für
    die gebuchte Zeit
    (siehe #[a(href="#cars-description") Zeittarif]) aufaddiert und
    in Rechnung gestellt.

  div.
    Überzeugt? Dann #[a(href="/documents.html#forms") werde Mitglied] – wir freuen uns auf dich!

  div.
    Du hast noch Fragen? Schreib uns gerne eine E-Mail oder ruf uns an.
    #[br] #[a(href="/contact.html#contact") (Kontakt)]
