extends layout
block content

  h1#wer #[.w-word Wer] sind wir?

  div.
    Wir sind ein eingetragener Verein mit momentan 25 Mitgliedern und
    2 eigenen Autos. Diese beiden Autos teilen wir uns per
    #[a(href="https://carsharing.de/alles-ueber-carsharing/ist-carsharing/ist-carsharing") stationsbasiertem CarSharing].

  div.
    Der Verein wurde 2015 im beschaulichen
    #[a(href="https://www.openstreetmap.org/relation/2186912#map=9/47.8338/12.2226") Bad Endorf]
    gegründet und wächst
    seitdem stetig. Die meisten Mitglieder nutzen unsere Autos als
    Zweit- oder Drittautoersatz. Aufgrund der Bahnanbindung in Bad Endorf
    haben wir aber auch Mitglieder, die dank EnAT zusammen mit Fahrrad
    und Bahn komplett auf ein eigenes Auto verzichten können.

  div.
    Als Verein von Gleichgesinnten freuen wir uns natürlich jederzeit über
    Neumitglieder.
    Insbesondere auch, da jedes weitere Mitglied die Auslastung der Autos
    weiter verbessert und damit die Kosten für den Einzelnen auf Dauer
    potenziell reduziert. Wenn Du also Interesse hast würden wir uns sehr
    über eine Mail oder einen Anruf (siehe #[a(href="/contact.html#contact") Kontakt]) freuen.


  h1#was #[.w-word Was ]bietet EnAT?

  div.
    Wenn unsere Mitglieder für eine Fahrt ein Auto brauchen, haben sie die Wahl
    zwischen einem günstigen Ford Ka und einem geräumigen Citroën Berlingo.
    Desweiteren haben wir noch eine Kooperation
    mit der #[a(href="https://www.carsharing-amerang.de/uns.html") Ameranger Autogemeinschaft (AmAG)]
    über die per Quernutzung noch einmal zwei weitere Autos ausgeliehen werden
    können.

  #cars-description
    div
      img(src="img/berlingo.jpg" alt="Citroën Berlingo")
      .car-name Citroën Berlingo
      div #[b 5] Sitze
      div Anhängekupplung
      div #[b 1] Kindersitz (bis&nbsp;12kg)
      div #[b 0,40]&nbsp;EUR/km (bzw. #[b 0,30]&nbsp;EUR/km)#[sup *]
      div #[b 1,00]&nbsp;EUR/h (bzw. #[b 0.20]&nbsp;EUR/h)#[sup **]

    div
      img(src="img/ford_ka.jpg" alt="Ford Ka")
      .car-name Ford Ka
      div #[b 4] Sitze
      div #[b 1] Kindersitz (bis&nbsp;12kg)
      div #[b 0,35]&nbsp;EUR/km (bzw. #[b 0,25]&nbsp;EUR/km)#[sup *]
      div #[b 1,00]&nbsp;EUR/h (bzw. #[b 0.20]&nbsp;EUR/h)#[sup **]

  div
    sup.
      *) Langstreckentarif. Gilt für alle Kilometer ab 301 - 1.000, 1.301 - 2.000, usw.
  div
    sup **) Nachttarif. Gilt von 18:00 bis 8:00 Uhr

  div
    iframe.cars-map(allowfullscreen src="//umap.openstreetmap.fr/de/map/parkplatze-der-enat-autos_681861?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=false&onLoadPanel=undefined&captionBar=false")

  h1#wie #[.w-word Wie] nutze ich EnAT?

  div
    p.
      Um unsere Autos nutzen zu können, musst Du Mitglied in unserem Verein
      sein. Hierbei entstehen folgende Kosten:
    ul
      li Mitgliedsbeitrag: #[b 30 EUR/Jahr]
      li Einmalige Einlage: #[b 600 EUR] #[br] (wird bei Ausscheiden zurückbezahlt)
      li Einmalige Aufnahmegebühr: #[b 50 EUR]

  div.
    Wenn Du als Mitglied ein Auto ausleihen möchtest, reservierst Du zuerst per
    PC oder Handy das gewünschte Auto für den gewünschten Zeitraum.
    Das von uns eingesetzte
    #[a(href="https://www.elkato.de/buchung/enat") Buchungssystem]
    bietet ein unkompliziertes Webportal,
    über die das Auto schnell gebucht werden kann. Außerdem zeigt es
    übersichtlich an, wann welches Auto verfügbar ist:
    #[img.big(src="img/buchungssystem.png" alt="Buchungssystem" )]

  div.
    Bevor Du die eigentliche Fahrt antritts, holst Du dir den Autoschlüssel
    aus dem Tresor, der sich in der Umgebung des jeweiliges Autos befindet.
    Im Auto befindet sich dann ein Fahrtenbuch, in das die Fahrt mit Kilometerstand
    und Zeit eingetragen wird. Wenn das Fahrzeug während der Fahrt betankt
    werden muss, trägst Du dies ebenfalls ins Fahrtenbuch ein und legst die Rechnung
    dazu. Der Tankbetrag wird dann bei der nächsten Abrechnung gutgeschrieben.

  div.
    Einmal pro Quartal erhältst Du dann eine Abrechnung über alle Fahrten.
    Der entsprechende Betrag, abzüglich deiner Tankrechnungen, wird
    per SEPA-Lastschrift von deinem Konto eingezogen. Dabei werden pro Fahrt
    die Kosten für die gefahrenen Kilometer (siehe
    #[a(href="#cars-description") Kilometertarif]) sowie die Kosten für
    die gebuchte Zeit
    (siehe #[a(href="#cars-description") Zeittarif]) aufaddiert und
    in Rechnung gestellt.

  h1#warum #[.w-word Warum] sollte ich EnAT nutzen?

  div
    p.
      Der Besitz eines eigenen Autos (oder zwei eigener Autos) ist insbesondere
      auf dem Land so selbstverständlich, dass sich kaum jemand über
      Alternativen Gedanken macht. Dabei kann eine Alternative wie
      EnAT je nach Lebenssituation deutliche Vorteile mit sich bringen:
    ul
      li.
        #[div Kosteneinsparung]
        Je nachdem wieviel Kilometer pro Jahr man ein Auto benötigt, kann
        CarSharing deutlich günstiger sein als ein eigenes Auto. Der
        Bundesverband CarSharing geht davon aus, dass bei einer Jahreskilometerleistung
        von #[a(href="https://carsharing.de/alles-ueber-carsharing/ist-carsharing/ist-carsharing-richtige-fuer-mich") weniger als 10.000 km]
        CarSharing bereits günstiger ist.
      li.
        #[div Umweltschutz]
        Angesichts des bevorstehenden Klimawandels ist eine Änderung unseres
        Ressourcenverbrauchs unabdingbar. Da privat genutzte Autos i.d.R.
        sehr geringe Jahreskilometerleistungen haben, ist der Ressourcenaufwand,
        der durch die Produktion entsteht, auf den Kilometer umgerechnet, sehr hoch.
        Da CarSharing die Auslastung der Autos deutlich erhöht wird der
        (Produktions-)Ressourcenverbrauch pro Kilometer entsprechend reduziert.
      li.
        #[div Entdecken von Alternativen]
        Die Macht der Gewohnheit hält Autobesitzer oft davon ab Alternativen
        in Betracht zu ziehen. Obwohl das Fahrrad auf Kurzstrecken ein sehr
        effizientes Verkehrssmittel ist wird es oft eher als Freizeitgerät
        als als Transportmittel genutzt.
        Sofern für die gewünschte Strecke verfügbar kann auch die Bahn Vorteile
        mit sich bringen wie z.B. die Möglichkeit die Zeit im Zug anderweitig
        zu nutzen.
      li.
        #[div Kalkulierbare Kosten]
        Ein Getriebeschaden oder neue Bremsen
        reißen kein Loch mehr in den Geldbeutel. Du weißt bereits vor der
        Fahrt exakt, wieviel das ganze Kosten wird.
      li.
        #[div Weniger Ärger]
        Wenn das eigene Auto einen Schaden hat, muss man es nicht nur zur
        Werkstatt bringen, man muss auch irgendwie zurückkommen, entscheiden,
        ob sich die Reparatur rentiert, sich ggf. um ein Ersatzfahrzeug kümmern,
        und und und... #[br]
        Ausserdem will ein Auto ab und zu gewartet werden, braucht pro Jahr zweimal
        einen Reifenwechsel und sollte auch gelegentlich gereinigt werden.
        Das alles fällt mit CarSharing weg, da unsere jeweiligen Autoverantwortlichen
        all diese Aufgaben (ehrenamtlich) erledigen.
    p.
      Wir hoffen, mit dieser Liste konnten wir dein Interesse wecken oder dich
      zumindest zum Nachdenken anregen.
